
<div class="row" >
    <div class="col-6"><h5>List cheaper searched</h5></div>
    <div class="col-6" ><h6 style="padding-left: 250px;">Number Of Product : {{count}}</h6></div>
    <hr>
</div>
<div class="row" style="padding-top: 20px;" > 
    <div class="row" *ngIf="looding ==true">
        <div class="col-4"></div>
        <div class="col-4"> <div class="spinner-border" style="width: 3rem; height: 3rem;margin-top: 60px;" role="status">
            <span class="sr-only">Loading...</span>
          </div>  </div>
        <div class="col-4"></div>
    </div>
   
  
 
     <div class="col-md-4" *ngFor = "let prod of listproduct" style="padding-right: 30px;"> 
      

        <div class="wrapper" >
            <div class="content"> <span class="price">{{prod.price}}</span>
                
                <div class="row" style="height: 50%;">
                     <div class="p-image"> <img src="{{prod.image}}" width="150">
                     </div>
                    </div>
               <div class="row" >
                <h5>{{prod.price}}</h5> <span class="line"></span>
                <p>{{prod.name}}</p>
                <button >details </button>
               </div>
            </div>
               
            
        </div>
                
                </div>
            </div>
        

