<div class="most-selling container" style="margin-bottom: 130px;" >
    <div class="col-md-12">
      <h3 class="title">Most Selling</h3>
    </div>
    <div  class="loader"></div>
    <div  class="scroll-left"
      (click)="scrollLeft()"></div>
    <div  class="most-cards" #mostCards>
      <div class="most-card col-lg-3 col-md-6 col-12" *ngFor="let prod of mostsellingList">
        <a href="/details/{{prod.id}}">
          <img src="http://127.0.0.1:8000{{prod.image}}" alt="">
          <hr>
          <p class="product-name">{{prod.name}}</p>
          <div class="row">
            <div class="col-md-6">
              <div class="product-color"></div>
            </div>
            <div class="col-md-6">
              <p>${{prod.price}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div  class="scroll-right"
      (click)="scrollRight()"></div>
  </div>
  
