
<div class="row" style="padding-bottom: 50px; padding-top: 100px;">
    <div class="col"></div>
    <div class="col-6" ><p style="text-align: center; ">The devices connect wirelessly to the network and are the actual ‘Things’ in the ‘Internet of Things’. A large variety of certified device suppliers providing connectivity options for various solutions and services.Deep2do find the best device for you :)</p>
        <p style="text-align: center;"><button class="btn btn-outline-danger btn-rounded" routerLink="/provider"  type="button">Add your product</button></p>
    </div>
    <div class="col"></div>
    
</div>


<div class="row" style="padding-bottom: 50px; ">
    <div class="col-3">
        <div class="custom_dropdown"style="width: 300px; padding-left: 30px;">
            <a class="list-group-item list-group-item-action active">
                Sensors
            </a>
            <a href="dhash/mostvisited" class="list-group-item list-group-item-action">Most searched Sensors</a>
            <a href="dhash/cheaper" class="list-group-item list-group-item-action">Most  cheap searched Sensors </a>
            <a href="dhash/site" class="list-group-item list-group-item-action">Last searched Sensors</a>
          
          </div>

          


    </div>
    <div class="col-9">
    <router-outlet></router-outlet>
</div>
</div>

