<div class="crousel" >
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/amenagement-smart-city.jpg" alt="Random first slide" style="width: 100%;height: 85vh;" >
    </div>
    <div class="carousel-caption">
      
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/1.jpg" alt="Random second slide" style="width: 100%;height: 85vh;">
    </div>
    <div class="carousel-caption">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/SmartFarming_746x419.jpg" alt="Random third slide" style="width: 100%;height: 85vh;">
    </div>
    <div class="carousel-caption">
     
    </div>
  </ng-template>
</ngb-carousel>
</div>